.info{
    .info-container{
        flex-direction: column;
        align-items: flex-start;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: 0px;
    }
    div{
        padding-top: 50px;
    }
}