.main-section{
    background-image: url("../images/Camada\ 3\ copiar.png");

    height: 400px;

    .main-section-header{
        padding-top: 20px;
    }
    .main-section-info{
        padding-left: 10%;

        .main-info-title{
            font-size: 2em;
        }
        .main-info-text{
            width: 225px;
        }

    }
}