$primary-color: white;
$sencondary-color: #333;
$ternary-color: #737373;
$section-product-background: #e8e8e8;
$link-color: #f81065;

$primary-font: "Fabriga-Black";
$secondary-font: "Fabriga-Regular";
$ternary-font: "Fabriga-Light";
$fourth-font: "Fabriga-Medium";
$fifth-font: "Fabriga-MediumItalic";

$screen-max-width: 1920px;

$breakpoint-mobile: 320px;
$breakpoint-mobile-potrait: 767px;