@font-face{
    font-family: "Fabriga-Black";
    src: url(fonts/Fabriga-Black.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Fabriga-Regular";
    src: url(fonts/Fabriga-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Fabriga-Light";
    src: url(fonts/Fabriga-Light.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Fabriga-Medium";
    src: url(fonts/Fabriga-Medium.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Fabriga-MediumItalic";
    src: url(fonts/Fabriga-MediumItalic.otf);
    font-style: normal;
    font-weight: normal;
}